@mixin font-face($font-family, $font-style, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: $font-src;
  }
}

@mixin reset-link {
  display: block;

  text-decoration: none;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-button {
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

@mixin container($min-width: $min-width-mobile, $padding-x: $padding-x-mobile) {
  min-width: $min-width;
  margin: 0 auto;
  padding: 0 $padding-x;
}

@mixin transition {
  transition: $transition-time;
}

@mixin mask ($mask-image, $base-color, $hover-color, $focus-hover, $active-color) {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: $base-color;
    mask-image: url($mask-image);
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover::before {
    @include transition;

    background-color: $hover-color;
  }

  &:focus::before {
    @include transition;

    background-color: $focus-hover;
  }

  &:active::before {
    @include transition;

    background-color: $active-color;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
