/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main.scss";
@import "./blocks/wrapper.scss";
@import "./blocks/container.scss";
@import "./blocks/button.scss";

/* BLOCKS header */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/burger-toggle.scss";

/* BLOCKS index.html */
@import "./blocks/intro.scss";
@import "./blocks/programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/compare-slider.scss";

/* BLOCKS catalog.html */
@import "./blocks/main-products.scss";
@import "./blocks/main-cards.scss";
@import "./blocks/main-card.scss";
@import "./blocks/sub-products.scss";
@import "./blocks/sub-cards.scss";
@import "./blocks/sub-card.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";

/* BLOCKS form.html */
@import "./blocks/form.scss";

/* BLOCKS footer */
@import "./blocks/footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/bottom.scss";
@import "./blocks/socials.scss";
@import "./blocks/copyright.scss";
