.checkbox {
  appearance: none;
  position: relative;
  margin: 0;
  min-width: 30px;
  width: 30px;
  height: 30px;

  border: solid 1px $border-color-dark-primary;
  background-color: $background-color-primary;
  cursor: pointer;

  @media (min-width: $min-width-tablet) {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    margin: auto;
    width: 0;
    height: 0;
  }

  &:checked::after {
    width: 18px;
    height: 14px;

    background-image: url("../../icons/stack.svg#checkbox-flag");
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $min-width-tablet) {
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    border: solid 1px $border-color-checkbox-hover;
  }
}
