.contacts__info-and-map-container {
  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: 1fr calc(($min-width-desktop) - 2*($padding-x-desktop)) 1fr;
    grid-template-rows: 95px 1fr 105px;
  }
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 26px 20px;

  background-color: $background-color-secondary;

  @media (min-width: $min-width-tablet) {
    padding: 60px 70px;
  }

  @media (min-width: $min-width-desktop) {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 1;

    width: 565px;
    padding: 60px 70px 60px 80px;
    margin: 0;

    background-color: $background-color-primary;
  }

  &--index {
    @media (max-width: $max-width-tablet) {
      background-color: $background-color-primary;
    }
  }
}

.contacts__title {
  width: 50%;
  min-height: 60px;
  max-width: 150px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $text-color-dark-special-1;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    min-height: 80px;
    max-width: 165px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $min-width-desktop) {
    width: auto;
  }
}

.contacts__address {
  width: 50%;
  min-height: 60px;
  max-width: 150px;

  font-family: $font-family-secondary;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-dark-secondary;

  @media (min-width: $min-width-tablet) {
    min-height: 80px;
    max-width: 165px;

    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $min-width-desktop) {
    width: auto;
    text-align: start;
  }
}

.contacts__empty-line {
  @media (max-width: $max-width-mobile) {
    display: none;
  }

  @media (min-width: $min-width-tablet) {
    margin-top: 20px;
  }
}

.contacts__img {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 362px;

  background: center / cover no-repeat image-set(url("../../images/map/map-mobile@1x.png") 1x, url("../../images/map/map-mobile@2x.png") 2x);

  @media (min-width: $min-width-tablet) {
    min-height: 400px;

    background: center / cover no-repeat image-set(url("../../images/map/map-tablet@1x.png") 1x, url("../../images/map/map-tablet@2x.png") 2x);
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    background: center / cover no-repeat image-set(url("../../images/map/map-desktop@1x.png") 1x, url("../../images/map/map-desktop@2x.png") 2x);
  }
}

.contacts__marker {
  position: relative;
  transform: translate(-50%, -100%);

  width: 57px;
  height: 53px;

  background-image: image-set(url("../../images/map/pin-mobile@1x.png") 1x, url("../../images/map/pin-mobile@2x.png") 2x);

  @media (min-width: $min-width-tablet) {
    width: 114px;
    height: 106px;

    background-image: image-set(url("../../images/map/pin-tablet@1x.png") 1x, url("../../images/map/pin-tablet@2x.png") 2x);
  }
}
