.form {
  padding-bottom: 33px;

  @media (min-width: $min-width-tablet) {
    padding-bottom: 60px;
  }

  @media (min-width: $min-width-desktop) {
    padding-bottom: 80px;
  }
}

.form__text {
  margin: 0 auto 32px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $min-width-tablet) {
    margin: 0 auto 56px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldsets-container {
  @media (min-width: $min-width-tablet) {
    @include container;

    @media (max-width: $max-width-tablet) {
      padding-left: $padding-x-tablet-form;
      padding-right: $padding-x-tablet-form;
    }
  }

  @media (min-width: $min-width-desktop) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin-bottom: 50px;
    width: $max-width-desktop;
    max-width: $max-width-desktop;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  border: none;

  @media (max-width: $max-width-mobile) {
    @include container;
  }

  @media (min-width: $min-width-tablet) {
    padding-top: 9px;
    row-gap: 20px;
  }

  &--no-title {
    border-bottom: solid 1px $border-color-dark-secondary;

    @media (min-width: $min-width-tablet) {
      border: none;
    }
  }

  &--customer-data {
    padding-bottom: 21px;

    @media (min-width: $min-width-tablet) {
      margin-bottom: 50px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $min-width-desktop) {
      margin: 0;
    }
  }

  &--program {
    margin-bottom: 25px;
    padding-top: 22px;
    padding-bottom: 20px;

    @media (min-width: $min-width-tablet) {
      row-gap: 13px;
      margin-bottom: 66px;
      padding-top: 23px;
      padding-left: 24px;
      padding-bottom: 25px;

      border: solid 1px $border-color-dark-secondary;
    }

    @media (min-width: $min-width-desktop) {
      margin: 9px 0 0;
      padding-top: 25px;
      padding-left: 27px;
      padding-bottom: 25px;
      height: min-content;
    }
  }

  &--contacts {
    margin-bottom: 13px;
    padding-top: 35px;

    @media (min-width: $min-width-tablet) {
      margin-bottom: 55px;
      padding-top: 76px;
    }

    @media (min-width: $min-width-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      margin-bottom: 60px;
    }
  }

  &--comment {
    margin-bottom: 13px;
    padding-top: 38px;

    @media (min-width: $min-width-tablet) {
      margin-bottom: 56px;
      padding-top: 87px;
    }

    @media (min-width: $min-width-desktop) {
      margin-bottom: 62px;
      padding-top: 77px;
    }
  }

  &--additionally {
    padding-top: 35px;
    padding-bottom: 34px;

    @media (min-width: $min-width-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 60px;
      padding-top: 57px;
      padding-bottom: 52px;
    }

    @media (min-width: $min-width-desktop) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
      padding-bottom: 60px;
    }
  }
}

.form__legend {
  @include accent-title(24, 36, 36);

  line-height: 26px;

  &::before {
    top: calc((24 / 2) + 3);

    @media (min-width: $min-width-tablet) {
      top: calc((36 / 2) + 4);
    }

    @media (min-width: $min-width-desktop) {
      top: calc((36 / 2) + 4);
    }
  }

  @media (min-width: $min-width-tablet) {
    margin: 0 -40px;

    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  display: flex;
  align-items: center;
  column-gap: 13px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-dark-secondary;
  white-space: nowrap;

  overflow: hidden;

  &:has(input:disabled) {
    opacity: 0.3;
  }

  @media (min-width: $min-width-tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &--program,
  &--additionally {
    display: grid;
    grid-template-columns: 30px 1fr;
    white-space: normal;
    overflow: visible;

    @media (min-width: $min-width-tablet) {
      grid-template-columns: 40px 1fr;
      column-gap: 20px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 14px 12px 13px 15px;

  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-dark-secondary;

  border: solid 1px $border-color-dark-special-2;
  border-radius: 0;

  &::placeholder {
    color: $text-color-dark-secondary;
  }

  &:hover {
    border: solid 1px $border-color-dark-primary;
  }

  &:focus-visible {
    padding: 13px 11px 12px 14px;

    border: solid 2px $border-color-dark-focus;
    outline: none;

    @media (min-width: $min-width-tablet) {
      padding: 10px 9px 8px 18px;
    }
  }

  &:invalid:not(:placeholder-shown) {
    padding: 13px 11px 12px 14px;

    border: solid 2px $border-color-error;

    @media (min-width: $min-width-tablet) {
      padding: 10px 45px 8px 19px;
    }
  }

  @media (min-width: $min-width-tablet) {
    padding: 11px 10px 9px 19px;

    font-size: 20px;
    line-height: 20px;
  }
}

.form__input[type="number"] {
  appearance: textfield;
}

.form__input[type="email"] {
  padding-right: 45px;
  background-image: url("../../icons/stack.svg#email");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center right 11px;

  &:focus {
    background-image: url("../../icons/stack.svg#email-focus");
  }

  &:invalid:not(:placeholder-shown) {
    background-image: url("../../icons/stack.svg#email-error");
  }
}

.form__input[type="tel"] {
  padding-right: 45px;
  background-image: url("../../icons/stack.svg#phone");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center right 14px;

  &:focus {
    background-image: url("../../icons/stack.svg#phone-focus");
  }
}

.form__comment {
  padding: 14px 10px 14px 15px;
  width: 100%;
  min-height: 150px;

  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-dark-secondary;

  border: solid 1px $border-color-dark-special-2;
  border-radius: 0;

  resize: none;

  @media (min-width: $min-width-tablet) {
    padding: 11px 10px 11px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $text-color-dark-secondary;
  }

  &:hover {
    border: solid 1px $border-color-dark-primary;
  }

  &:focus-visible {
    padding: 13px 9px 13px 14px;

    border: solid 2px $border-color-dark-focus;
    outline: none;

    @media (min-width: $min-width-tablet) {
      padding: 10px 9px 10px 19px;
    }
  }
}

.form__button-container {
  @media (min-width: $min-width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
  }

  @media (min-width: $min-width-desktop) {
    column-gap: 80px;
  }
}

.form__button {
  width: 100%;

  line-height: 20px;

  @media (min-width: $min-width-tablet) {
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__note {
  margin: 20px 0 0;

  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    margin: 0;
    font-size: 16px;
    text-align: start;
  }
}
