.gift {
  background-color: $background-color-accent;
}

.gift__text {
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-light-primary;
  text-align: center;
}
