.radio {
  appearance: none;
  position: relative;

  margin: 0;
  min-width: 30px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: solid 1px $border-color-dark-primary;
  background-color: $background-color-primary;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    margin: auto;
    width: 0;
    height: 0;

    text-align: center;

    background-color: $background-color-accent;
    border-radius: 50%;
  }

  &:checked::after {
    width: 13px;
    height: 13px;

    @media (min-width: $min-width-tablet) {
      width: 18px;
      height: 18px;
    }
  }

  &:hover {
    border: solid 1px $border-color-checkbox-hover;
  }

  @media (min-width: $min-width-tablet) {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}
