.wrapper {
  &--intro {
    @media (max-width: $max-width-mobile) {
      background: linear-gradient(to bottom, $background-color-accent 302px, $background-color-primary 108px);
    }
  }

  &--example {
    background-color: $background-color-special;
  }

  &--bottom {
    background-color: $background-color-secondary;
  }
}
