.wrapper {
  &--intro {
    @media (max-width: $max-width-mobile) {
      background:
        linear-gradient(to bottom, rgba($background-color-accent, 0.85) 302px, $background-color-primary 108px),
        image-set(url("../../images/backgrounds/intro-mobile@1x.jpg") 1x, url("../../images/backgrounds/intro-mobile@2x.jpg") 2x) top center no-repeat,
        linear-gradient(to bottom, $background-color-substrate 302px, $background-color-primary 108px);
    }
  }

  &--example {
    background-color: $background-color-special;
  }

  &--bottom {
    background-color: $background-color-secondary;
  }
}
